body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}
.footer-bg{
    background-color: rgba(247, 195, 95, 1);
}
.nav-bg{
    background-color: rgba(247, 195, 95, 1);
}