.footer-bg{
    background-color: rgba(247, 195, 95, 1);
}
.nav-bg{
    background-color: rgba(247, 195, 95, 1);
    
}


.carobox{
    background-color: #15919b;
    height: 600px;
    width: 600px;
    border-radius: 40px;
    border-style: solid;
    border-color: black;
}
.teenanimlogo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-left: 10px ;
}
.nav-link {
    color: initial; 
  }